<!DOCTYPE html>
<html>

<head>
    <title>Ranking</title>
    <link rel="stylesheet" href="/style/defaultStyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <style>
        th, td {
            text-align: center;
            font-size: large;
            padding: 5px;
        }
        th {
            background-color: rgba(0, 172, 168, 1.0);
            color: #FFFFFF;
        }
        .th_rate {
            background-color: rgba(255, 0, 44, 1.0);
            color: #FFFFFF;
        }
        tr{
            border-radius: 1em;
            overflow: hidden;
        }

        .tr_blue:nth-child(2n) {
            background: rgba(0, 172, 168, 0.15);
        }

        .tr_red:nth-child(2n) {
            background: rgba(255, 0, 44, 0.15);
        }

        table {
            background: #FFFFFF;
            border-radius: 1em;
            overflow: hidden;
        }
        body {
            background-image: url(../image/background/8.jpg);
            background-size: contain;
            font-family: 'Ubuntu', sans-serif;
        }
        strong {
            font-size: 20px;
            color: #FFFFFF;
            text-align: center;
        }
        caption {
            text-align: center;
        }
    </style>
</head>

<body>
    <%- include('./components/navbar') -%>
        <div>
            <table style="width:50%;float:left;">
                <caption>
                    <strong>High Score</strong>
                </caption>
                <% if(histories.length> 10) histories.length = 10; %>
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>Score</th>
                        <th>Date</th>
                    </tr>
                    <% for (var i=0; i < histories.length; i++) { %>
                        <tr class="tr_blue">
                            <td>
                                <%= (i+1) %>
                            </td>
                            <td>
                                <%= histories[i].winner %>
                            </td>
                            <td>
                                <%= histories[i].winnerScore %>
                            </td>
                            <td>
                                <%= histories[i].Date.toLocaleString() %>
                            </td>
                        </tr>
                        <% } %>
            </table>
            <table style="width:50%;float:right;">
                <caption>
                    <strong style="font-size: 20px;color:#FFFFFF;">Winning Rate</strong>
                </caption>
                <% if(users.length> 10) users.length = 10; %>
                    <tr>
                        <th class="th_rate">#</th>
                        <th class="th_rate">Username</th>
                        <th class="th_rate">Winning Rate</th>
                    </tr>
                    <% for (var i=0; i < users.length; i++) { %>
                        <% if (users[i].rate !=0) { %>
                            <tr class="tr_red">
                                <td class="td_rate">
                                    <%= (i+1) %>
                                </td>
                                <td class="td_rate">
                                    <%= users[i].username %>
                                </td>
                                <td class="td_rate">
                                    <%= users[i].rate %>%
                                </td>
                            </tr>
                    <% } %>
                <% } %>
            </table>
        </div>
</body>

</html>